body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 1.6;
	color: #000;
	width: 100%;

}

*,
*:before,
*:after {
	box-sizing: border-box;
}
a{
	color: #fff;
	text-decoration: none;
}
.container {
	background: url("../img/sup.jpg") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	justify-content: center;
}
.header {
	margin-left: 50%;
	max-width: 1100px;
	padding-top: 45px;
	z-index: 20;
	transform: translate(-50%);
}
.header__left{
	font-size: 28px;
	float: left;
}
.header__right{
	float: right;
}
.assist {
	color: #fff;
	border-radius: 20px;
	padding: 8px 10px 8px 10px;
	background: linear-gradient(to right, 
	#d1dc26, #a2c73e);
}
.main__sup {
	width: 1920px;
	height: 948px;
	padding-top: 180px;
	margin-left: 50%;
	transform: translate(-30%);
}
.text {
	max-width: 590px;
	font-size: 36px;
}
.window {
	position: absolute;
	margin-top: 40px;
	width: 586px;
	height: 700px;
	border: 5px;
	border-color: #bcd232;
	box-shadow: 0 0 10px rgba(188,210,50,1);
	content: '';
	background-color: #fff;
	z-index: 20;
	display: block;
}
.form__group {
	margin-left: 76px;
	margin-top: 26px;
	display: inline-block;
}
.form__group-last {
	display: block;
}
.form__group-last input {
	width: 88%;
}
.form__label {
    margin-bottom: 10px;
    font-size: 18px;
    color: #000;
}
.form__input {
    display: block;
    width: 130%;
    padding: 13px 13px;
    font-size: 10px;
    color: #000;
}
.form__input:focus {
    outline: none;
    border-color: #bcd232;
}
.button {
	background-color: #bcd232;
	font-size: 18px;
	font-weight: 700;
	margin-left: 50%;
	margin-top: 70px;
	padding: 12px 96px;
	transform: translate(-50%);
	color: #fff;
	cursor: pointer;
	border-color: #bcd232;
	text-decoration: none;
	border: 2px solid #bcd232;
}
.button-sub {
	color: #bcd232;
	margin-left: 50%;
	transform: translate(-50%);
	margin-top: 20px;
}
.middle {
	display: block;
	background-color: #bcd232;
	height: 78px;
	font-size: 22px;
	color: #fff;
	z-index: 10;
}
.middle b {
	float: right;
	padding-right: 15%;
	padding-top: 20px;
}
.main__sub {
	background-color: #ebebeb;
	padding-top: 152px;
	padding-bottom: 108px;
}
.container__main-sub {
	max-width: 1140px;
	margin-left: 50%;
	transform: translate(-50%);
}
.main__sub-conent {
    display: flex;
    flex-wrap: wrap;
}
.main__sub-window {
    padding: 0 16px 16px 0;
}
.work {
    overflow: hidden;
    display: block;
}
.content {
	display: block;
    width: 362px;
    height: 370px;
    background-color: #fff;
    color: #bcd232;
}
.content img {
	padding: 18% 0 0 33%;
}
.content span {
	display: flex;
	padding: 20% 0 0 20%;
}
.footer {
	padding-top: 20px;
	height: 80px;
	background-color: #fff;
	text-align: center;
	font-size: 28px;
}